.App {
  text-align: center;
    margin-top: 4rem;
}


.title {
    margin-bottom: 1rem;
    font-family: 'Mash-up', serif;
    font-size: 4rem;
    letter-spacing: 10px;
}

main {
    min-height: calc(95vh - 4em);
    font-size: 1.1em
}

.footer {
    height: 5vh;
    background-color: var(--blue);
    padding: 0.25rem;
}

.footer a {
    color: var(--cool-dark-gray);
}

.footer p {
    margin: 0;
}