.song-search .btn {
    margin: 1rem auto;
    background-color: var(--blue);
    color: var(--cream);
    padding: 0.5rem 2rem;
}

.btn:focus {
    border-color: var(--pink);
    box-shadow: 0 0 0.1rem 0.1rem var(--pink);
}
