.lyrics {
    white-space: pre;
    display: flex;
    -ms-flex: inherit;
    -webkit-flex: inherit;
    flex: inherit;
    flex-direction: column;
}

.lyric {
    position: relative;
    text-align: center;
}

.original {
    display: none;
    position: absolute;
    top: calc(-100% - 1em);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--rose);
    color: var(--cool-dark-gray);
    border: 2px solid var(--dark-blue);
    padding: 0.5em;
}

.translated:hover + .original {
    display: block;
}

.translated {
    display: inline-block
}